/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  /* background: linear-gradient(lightgreen, darkgreen); */
  background-color:  darkgreen;

  font-size: 2rem;
  font-family: 'Agbalumo', 'Arial Narrow', sans-serif;
  color: rgb(20, 80, 6);
}
img{
  display: block;
  margin: 0 auto;
}

div{
  margin-bottom: 30px;
  text-align: center;
}
button{
  font-size: 1.1rem;
  background-color: rgba(4, 130, 4, 0.849);
}
.section-container{
  background: linear-gradient(lightgreen, darkgreen);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 700px;
}
h2 {
  color:lightgreen;
}
h3{
  text-decoration: underline;
}
#left-column{
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}